<!DOCTYPE html>
<html>
<head>
    <title>Todo App MVC</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lista de Tareas</h1>
    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="Nueva tarea" required>
        <button type="submit">Agregar</button>
    </form>
    <ul>
        <% todos.forEach(todo => { %>
            <li>
                <%= todo.task %>
                <form action="/delete/<%= todo._id %>" method="POST" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
